@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  --font-heading: 'Young Serif', serif;
  --font-body: 'Outfit', sans-serif;

  --clr-dark: #312e2c;
  --clr-medium: #5f574eff;
  --clr-light: #854632ff;
  --clr-light-bg: #fff5fa;
  --clr-pink: #7b284f;
  --clr-border: #e4ded8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: var(--font-body);
  font-size: 1em;
  color: var(--clr-medium);
  line-height: 1.6;
}

.recipe {
  max-width: 740px;
  background: white;
  margin: 0 auto;
}

.recipe-image img {
  width: 100%;
  display: block;
}

.recipe-intro {
  padding: 2em;
}

.recipe-intro h1 {
  font-family: var(--font-heading);
  color: var(--clr-dark);
  font-size: 2.2em;
  margin-bottom: 0.5em;
}

.recipe-prep-time {
  background: var(--clr-light-bg);
  margin: 0 2em;
  padding: 1.5em 2.5em;
  border-radius: 10px;
}

.recipe-prep-time h3 {
  color: var(--clr-pink);
  font-size: 1.1em;
  margin-bottom: 1em;
}

.recipe-prep-time ul {
  padding-left: 1.5em;
}

.recipe-prep-time li {
  margin-bottom: 0.6em;
}

.recipe-section {
  padding: 2em;
  border-bottom: 1px solid var(--clr-border);
}

.recipe-section:last-child {
  border-bottom: none;
}

.recipe-section h2 {
  font-family: var(--font-heading);
  color: var(--clr-light);
  margin-bottom: 1em;
}

.recipe-section ul,
.recipe-section ol {
  padding-left: 1.2em;
}

.recipe-section ol li {
  margin-bottom: 0.8em;
}

.recipe-section p {
  margin-bottom: 1em;
}

.nutrition {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.nutrition tr:not(:last-child) td {
  border-bottom: 1px solid var(--clr-border);
}

.nutrition td {
  padding: 1em 0;
  font-family: var(--font-body);
  font-size: 1em;
}

.nutrition td:first-child {
  color: var(--clr-medium);
  padding-left: 1.5em;
}

.nutrition td:last-child {
  color: var(--clr-light);
  font-weight: 700;
  text-align: left;
  padding-right: 1.5em;
}


@media (min-width: 768px) {
  body {
    padding: 4em;
    background-color: #f3e5d8;
  }

  .recipe {
    border-radius: 20px;
    padding: 2.5em;
  }

  .recipe-image img {
    border-radius: 10px;
  }

  .recipe-intro,
  .recipe-section {
    padding: 2em 0;
  }

  .recipe-prep-time {
    margin: 2em 0;
    padding: 2em;
  }

  .recipe-section h2 {
    font-size: 1.5em;
  }

  .recipe-intro h1 {
    font-size: 2.5em;
  }

  .recipe-intro p {
    font-size: 1.1em;
  }

  .recipe-prep-time h3 {
    font-size: 1.3em;
  }

}
