@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

 :root {
    --font1: "Young Serif", serif;
    --font2: "Outfit", sans-serif;
    --color-stone: #302d2cff
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: var(--font1);
 }

 .recipe {
    min-height: 100vh;
    max-width: 390px;
    margin: 0 auto;
 }

 .recipe-image img {
    width: 100%;
 }

 .recipe-content {
    padding: 2em;
 }

 .intro h1 {
    color: var(--color-stone);
    font-size: 1.7em;
    font-weight: 900;
 }
